/* ==================== Universal and common codes ==================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ==================== Login page ==================== */
#login form {
  width: 350px;
}

#login form a,
#login form #icons {
  cursor: pointer;
  text-decoration: none;
}

/* ==================== Profile page ==================== */
#profile .row {
  height: 60vh;
  width: 700px;
}

#profile .avatar {
  cursor: pointer;
}
